<h1 class="menu_header">All Contacts</h1>

<div class="all_contacts">
	<table>
		<thead>
		<tr>
			<th> First Name </th>
			<th> Last Name </th>
			<th> Email </th>
			<th> Note </th>
		</tr>
		</thead>
		<% $rolodex.contacts.each do |contact| %>
		<tr>
			<td> <%=contact.first_name %></td>
			<td> <%=contact.last_name %> </td>
			<td> <%=contact.email %></td>
			<td> <%=contact.note %></td>
		</tr>
		<% end %>
	</table>
	
</div>

