<h1 class="menu_header">Create new Contact</h1>

	<form class="new_contact" action="/contacts" method="post">
	<label>
		First Name
  		<input type="text" name="first_name" placeholder="Enter First Name">
	</label>
	<label>
		Last Name
  		<input type="text" name="last_name" placeholder="Enter Last Name">
	</label>
	<label>
		Email
  		<input type="text" name="email" placeholder="Enter Email">
	</label>
	<label>
		Note
  		<input type="text" name="note" placeholder="Enter Note">
	</label>
  		<input type="submit" name="Submit">
	</form>